:root {
	--system-common-popup-background-opacity: 0.7;
}

.SPC-C-container {
	display: flex;
	align-items: center;
	column-gap: 10px;
	width: 100%;
	height: 100%;
	padding-left: 20px;
	border-radius: 4px;
}

.SPC-C-icon {
	width: calc(var(--system-popup-container-height) / 2);
	height: calc(var(--system-popup-container-height) / 2);
	filter: opacity(var(--system-common-popup-background-opacity));
}

.SPC-C-message {
	width: calc(100% - var(--system-popup-container-height) - 60px);
}

.SPC-C-close {
	width: calc(var(--system-popup-container-height) / 2);
	height: calc(var(--system-popup-container-height) / 2);
}

.SPC-C-close:hover {
	transform: scale(1.2);
	cursor: pointer;
}

/* Tipos de popup */
.SPC-C-container-success {
	background-color: rgba(237, 247, 237, var(--system-common-popup-background-opacity));
	color: rgb(30, 70, 32);
}

.SPC-C-container-info {
	background-color: rgba(229, 246, 253, var(--system-common-popup-background-opacity));
	color: rgb(1, 67, 97);
}

.SPC-C-container-warning {
	background-color: rgba(255, 244, 229, var(--system-common-popup-background-opacity));
	color: rgb(102, 60, 0);
}

.SPC-C-container-error {
	background-color: rgba(253, 237, 237, var(--system-common-popup-background-opacity));
	color: rgb(95, 33, 32);
}
