.L-login-form-title-container {
	position: relative;
	margin-bottom: 15px;
}
.L-login-form-title {
	color: #3e3e3e;
	font-weight: lighter;
	font-size: var(--login-registration-header-font-size);
	text-align: center;
}

.L-google-icon-container {
	display: flex !important;
	flex-direction: row !important;
	justify-content: center !important;
	align-items: center !important;
	border: 1px solid #d1d1d1;
	border-radius: 5px;
	width: 100% !important;
}
.L-left-icon-container,
.L-reveal-password-icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 50px;
	height: 50px;
}

.L-left-icon-container {
	border: #d1d1d1 1px solid;
	border-radius: 8px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.L-left-icon,
.L-reveal-password-icon {
	box-sizing: border-box;
	padding: 10px;
	width: 50px !important;
	height: 50px !important;
}

.L-reveal-password-icon {
	padding: 13px;
}

.L-left-icon-container {
	border-right: none;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	background-color: #f3f3f3;
}

.L-reveal-password-icon-container {
	border-left: none;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

.L-login-form-google-button-container {
	display: flex;
	justify-content: center;
}

.L-login-form-google-button {
	cursor: pointer;
	border: none;
	background-color: transparent;
	padding: 0px 10px;
	height: 60px;
	font-size: 15px;
}

.L-login-or-text {
	color: #3e3e3e;
	font-weight: lighter;
	font-size: 17px;
	text-align: center;
}

.L-login-form-reset {
	cursor: pointer;
	margin: 10px;
	width: 100%;
	color: #467ef7;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
}

.L-login-form-reset-container {
	display: flex;
	justify-content: center;
}

.L-left-email-icon-container,
.L-left-password-icon-container {
	display: flex !important;
	flex-direction: row !important;
	align-content: center !important;
	justify-content: center !important;
	width: 100% !important;
}

.L-forms-column-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.L-register-form-container {
	margin-top: 20px;
	text-align: center;
}

.L-register-form {
	cursor: pointer;
	color: white;
	text-decoration: none;
}

.L-register-here-text:hover {
	text-decoration: underline;
}

.L-google-icon-container,
.L-left-email-icon-container,
.L-left-password-icon-container,
.L-login-form-reset-container,
.L-start-session-button-container {
	padding-top: 1rem;
}

.L-left-email-icon-container {
	padding-top: 0 !important;
}

.L-google-icon-container {
	padding-top: 0 !important;
}

.L-start-session-waiting-for-response {
	width: 100%;
	height: 60px;

	.S-L-logo-container {
		top: calc(85% - 30px);
		width: 100%;
		height: 70px;
	}

	.S-L-logo-container > img {
		margin: -150px 0 0 -75px;
		width: 150px;
		height: 150px;
	}
}

.L-login-form-resend-verification-email {
	text-decoration: underline;
}

.L-login-form-resend-verification-email:hover {
	cursor: pointer;
}