.TIF-text-input-field-container {
	width: 100%;
	height: 100%;
}

.TIF-text-input-field {
	box-sizing: border-box;
	border: #d1d1d1 1px solid;
	border-radius: 8px;
	background-color: transparent;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-inline-start: 8px;
	padding-inline-end: 8px;
	width: 100%;
	height: 50px;
	font-size: var(--login-registration-placeholder-font-size);
}

.TIF-text-input-field:focus {
	outline: none;
}
