:root {
	--cards-padding: 60px;
	--cards-column-gap: 20px;
}

.P-background {
	position: relative;
	width: 100vw;
	height: calc(100vh - var(--header-height));
	background-color: var(--background-color);
	z-index: -10;
}

.P-phases-container-holder {
	width: max-content;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.P-phases-container {
	display: flex;
	column-gap: var(--cards-column-gap);
	width: calc(100% - var(--cards-padding));
	height: calc(100% - var(--cards-padding));
}

.P-add-new-phase-button-container {
	width: 40px;
	height: 40px;
	padding-bottom: 40px;
}

.P-add-new-phase-button {
	padding: 0;
	margin: 0;
	border: 0;
}

.P-add-new-phase-button-icon {
	width: 40px;
	height: 40px;
}
