:root {
	--cards-padding: 60px;
	--cards-column-gap: 20px;
	--add-new-phase-button-scale: 32px;
}

.P-background {
	overflow: auto;
	position: relative;
	width: calc(100vw - var(--cards-column-gap));
	height: calc(100vh - var(--header-height));
	background-color: var(--background-color);
	padding-left: var(--cards-column-gap);
}

.P-phases-container-holder {
	display: flex;
	justify-content: start;
	align-items: center;
	column-gap: var(--cards-column-gap);
	width: fit-content;
	height: 100%;
}

.P-phases-container {
	display: flex;
	column-gap: var(--cards-column-gap);
	width: calc(100% - var(--cards-padding));
	height: calc(100% - var(--cards-padding));
}

.P-add-new-phase-button-container {
	width: var(--add-new-phase-button-scale);
	height: var(--add-new-phase-button-scale);
	padding-bottom: var(--cards-padding);
}

.P-add-new-phase-button {
	width: var(--add-new-phase-button-scale);
	height: var(--add-new-phase-button-scale);
	padding: 0;
	margin: 0;
	border: 0;
	border: 2px solid rgb(215, 215, 215);
	border-radius: 50%;
}

.P-add-new-phase-button-icon {
	width: var(--add-new-phase-button-scale);
	height: var(--add-new-phase-button-scale);
	transform: translate(-2px, -2px);
}

@media screen and (max-width: 600px) {
	.P-background {
		height: calc(100vh - 120px);
	}
}
