:root {
	--cards-padding: 60px;
	--cards-column-gap: 20px;
	--add-new-phase-button-scale: 32px;
}

.P-background {
	position: relative;
	padding-left: var(--cards-column-gap);
	width: calc(100vw - var(--cards-column-gap));
	height: calc(100vh - var(--header-height));
	overflow-x: auto;
	overflow-y: hidden;
}

.P-background::-webkit-scrollbar {
	height: 10px;
}

.P-background::-webkit-scrollbar-thumb {
	background-color: rgb(200, 200, 200);
}

.P-phases-container-holder {
	display: flex;
	column-gap: var(--cards-column-gap);
	justify-content: start;
	align-items: center;
	padding-right: 50px;
	width: fit-content;
	height: 100%;
}

.P-phases-container {
	margin: 0;
	width: 100%;
	height: calc(100% - var(--cards-padding));
}

.P-phases-container-lazy-loader {
	display: flex;
	column-gap: var(--cards-column-gap);
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.P-add-new-phase-button-container {
	padding-bottom: var(--cards-padding);
	width: var(--add-new-phase-button-scale);
	height: var(--add-new-phase-button-scale);
}

.P-add-new-phase-button {
	cursor: pointer;
	margin: 0;
	border: 0;
	border: 2px solid rgb(215, 215, 215);
	border-radius: 50%;
	padding: 0;
	width: var(--add-new-phase-button-scale);
	height: var(--add-new-phase-button-scale);
}

.P-add-new-phase-button-icon {
	transform: translate(-2px, -2px);
	width: var(--add-new-phase-button-scale);
	height: var(--add-new-phase-button-scale);
}

@media screen and (max-width: 600px) {
	.P-background {
		height: calc(100vh - 120px);
	}
}
