.forms-container-holder {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: calc(100vh - var(--header-height));
}

.forms-container {
	width: clamp(260px, 30%, 550px);
	height: clamp(240px, 70%, 720px);
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: var(--border-shadow-color) 0px 0px var(--border-shadow-radius);
	border-radius: var(--border-radius);
	background-color: white;
}

.forms {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.forms > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
