.EC-container {
	display: flex;
	position: fixed;
	justify-content: center;
	z-index: 1000;
	padding-top: 30px;
	width: 100%;
	height: calc(100vh - var(--header-height));
	pointer-events: none;
}

.EC-container-externo {
	display: flex;
	justify-content: flex-end;
	width: 70%;
	height: 100%;
}

.EC-dialog {
	width: 30%;
}

.EC-container-card {
	display: flex;
	flex-direction: column;
	box-shadow: rgb(174, 174, 174) 0px 0px 5px;
	border: 1px solid #dedede;
	border-radius: 8px;
	background-color: #ffffff;
	width: 55%;
	height: 90%;
	pointer-events: all;
}

.EC-container-header {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.EC-header-card {
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	background-color: #efefef;
	height: 30px;
}

.EC-header-phase {
	display: flex;
	padding: 8px;
	padding-left: 25px;
	color: #8b8b8b;
	font-weight: bold;
	font-size: 12px;
}

.EC-header-phase-label {
	margin-right: 4px;
}

.EC-header-phase-phase {
	color: var(--action-button-background-color);
	text-decoration: underline;
}

.EC-container-interno-card {
	display: flex;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.EC-container-interno-card-esquerda {
	display: flex;
	flex-direction: column;
	border-right: 1px solid rgba(131, 131, 131, 0.097);
	border-bottom-left-radius: 8px;
	padding-right: 25px;
	padding-left: 25px;
	width: 70%;
	height: 100%;
}

.EC-container-interno-card-direita {
	display: flex;
	flex-direction: column;
	border-bottom-right-radius: 8px;
	padding-right: 25px;
	padding-left: 25px;
	width: 30%;
	height: 100%;
}

.EC-div-input {
	display: flex;
	margin-bottom: 8px;
	width: 100%;
	height: 35px;
}

.EC-container-members {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 8px;
	width: 100%;
	height: 35px;
}

.EC-div-input-members {
	display: flex;
	margin-right: 10px;
}

.EC-div-input-members > :nth-child(-n + 5) {
	cursor: pointer;
	margin-right: -10px;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 50%;
}

.EC-div-input-members > :nth-child(-n + 5):hover {
	transform: scale(1.15);
}

.EC-div-input-members > :nth-child(n + 6) {
	display: none; /* Esconde os ícones além dos 3 primeiros */
}

.EC-input {
	display: flex;
	border: 1px solid rgb(215, 215, 215);
	border-radius: 6px;
	background-color: rgb(244, 244, 244);
	padding-right: 5px;
	padding-left: 5px;
	width: 100%;
	height: 30px;
	color: black;
	font-weight: bold;
	font-size: large;
}

.EC-container-descricao {
	display: flex;
	flex-direction: column;
	margin-bottom: 8px;
	width: 100%;
}

.EC-label-descricao {
	display: flex;
	margin-top: 10px;
	margin-bottom: 5px;
	width: 100%;
	color: #8b8b8b;
	font-weight: bold;
	font-size: 12px;
}

.EC-textarea-descricao {
	display: flex;
}

.EC-container-anexo {
	display: flex;
	flex-direction: column;
	margin-bottom: 8px;
	width: 100%;
}

.EC-label-anexo {
	display: flex;
	margin-top: 10px;
	margin-bottom: 5px;
	width: 100%;
	color: #8b8b8b;
	font-weight: bold;
	font-size: 12px;
}

.EC-label-file {
	display: flex;
	width: 100%;
	font-weight: bold;
	font-size: x-small;
}

.EC-botao-anexo {
	display: flex;
	cursor: pointer;
	margin-bottom: 5px;
	border: 1px solid rgba(0, 0, 0, 0.139);
	border: #ffffff00;
	background-color: #ffffff00;
	padding: 5px;
	height: 25px;
	color: #8b8b8b;
	font-weight: bold;
	font-size: 12px;
}

.EC-container-file {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 4px;
	background-color: rgb(244, 244, 244);
	padding-right: 8px;
	padding-left: 8px;
}

.EC-button-remover {
	cursor: pointer;
	border: #ffffff00;
	background-color: #ffffff00;
}

.EC-textarea {
	display: flex;
	border: 1px solid rgb(215, 215, 215);
	border-radius: 8px;
	background-color: rgb(244, 244, 244);
	padding-top: 5px;
	padding-left: 5px;
	width: 100%;
	min-width: 95%;
	resize: none;
	font-weight: bold;
}

.EC-container-actions {
	display: flex;
	flex-direction: column;
}

.EC-label-action {
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;
	margin-bottom: 5px;
	width: 100%;
	color: #8b8b8b;
	font-weight: bold;
	font-size: 12px;
}

.EC-container-data {
	display: flex;
	flex-direction: column;
	margin-bottom: 8px;
	width: 100%;
}

.EC-label-data {
	display: flex;
	margin-top: 10px;
	margin-bottom: 5px;
	width: 100%;
	color: #8b8b8b;
	font-weight: bold;
	font-size: 12px;
}

.EC-data {
	display: flex;
	align-items: center;
	background-color: rgb(244, 244, 244);
	padding-left: 8px;
	height: 25px;
	font-weight: bold;
	font-size: x-small;
}

.EC-dateday {
	margin-right: 15px;
}

.EC-actions-buttons {
	position: relative;
}

.EC-container-buttons-actions {
	position: relative;
}

.EC-dialog-members-container {
	margin-top: 131px;
	margin-left: -20px;
	box-shadow: 0 0 15px rgb(231, 231, 231);
	border: 1px solid #dedede;
	border-radius: 8px;
	background-color: #f8f8f8;
	padding: 8px;
	width: 200px;
	height: 250px;
}

.EC-container-header-dialog {
	display: flex;
	height: 8%;
}

.EC-label-members {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: #8b8b8b;
}

.EC-label-members-button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.EC-container-icons-members {
	display: flex;
	flex-direction: column;
	margin-top: 5px;
	border-radius: 8px;
	background-color: #f0f0f0;
	width: 100%;
	height: calc(100% - 10%);
}

.EC-input-search-members {
	display: flex;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	padding: 8px;
	height: 15%;
}

.EC-members {
	display: flex;
	flex-direction: column;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	background-color: #f0f0f0;
	padding: 8px;
	height: calc(100% - 15%);
	overflow: auto;
}

.EC-member {
	display: flex;
	flex-direction: column;
}

.EC-container-member {
	display: flex;
	margin-bottom: 8px;
	padding: 4px;
}

.EC-container-member:hover {
	cursor: pointer;
	border-radius: 4px;
	background-color: #e4e4e4;
}

.EC-member-photo {
	display: flex;
	margin-right: 8px;
	width: 100%;
	max-width: 25px;
}

.EC-member-name-label {
	display: flex;
	align-items: center;
	padding-left: 8px;
	width: 100%;
	color: #8b8b8b;
	font-size: 14px;
}

.EC-input-members {
	display: flex;
	border: 1px solid rgba(215, 215, 215, 0);
	border-radius: 4px;
	background-color: #e4e4e4;
	padding-right: 4px;
	padding-left: 4px;
	width: 100%;
	color: #8b8b8b;
}

input:focus {
	outline: none;
}

.EC-input-members::placeholder {
	color: #8b8b8b;
}

textarea:focus {
	outline: none;
}

.EC-container-comentarios {
	margin-top: 8px;
	border: 1px solid rgb(215, 215, 215);
	border-radius: 8px;
	width: 100%;
	height: 200px;
	overflow: auto;
}

.EC-label-comentarios {
	display: flex;
	padding: 8px;
	color: #8b8b8b;
	font-weight: bold;
	font-size: 12px;
}

.EC-container-comentario {
	display: flex;
	margin: 8px;
	border: 1px solid rgb(215, 215, 215);
	border-radius: 8px;
	background-color: rgb(244, 244, 244);
	padding: 8px;
}

.EC-comments-usericon {
	display: flex;
	width: 100%;
	max-width: 25px;
}

.EC-comments-comment {
	display: flex;
	align-items: center;
	padding-left: 8px;
	width: 100%;
	font-size: 14px;
}

.EC-button {
	display: flex;
	cursor: pointer;
	margin-bottom: 5px;
	border: 1px solid rgba(0, 0, 0, 0.139);
	border-radius: 4px;
	padding: 5px;
	width: 100%;
	height: 25px;
	color: #8b8b8b;
	font-weight: bold;
	font-size: 12px;
}

.EC-button:hover {
	background-color: #b7b7b765;
}

.EC-button:active {
	filter: brightness(70%); /* Reduz a luminosidade do botão quando clicado */
}

.EC-button-update {
	display: flex;
	cursor: pointer;
	margin-bottom: 5px;
	border: 1px solid rgba(0, 0, 0, 0.139);
	border-radius: 4px;
	background-color: var(--action-button-background-color);
	padding: 5px;
	width: 100%;
	height: 25px;
	font-weight: bold;
	font-size: 12px;
}

.EC-button-update:hover {
	background-color: var(--action-button-hover);
}

.EC-button-update:active {
	filter: brightness(70%); /* Reduz a luminosidade do botão quando clicado */
}
