.loader {
	--border: 8px;

	border: var(--border) solid #f3f3f3; /* Light grey */
	border-top: var(--border) solid #c1c1c1; /* Blue */
	border-radius: 50%;
	width: calc(64px - var(--border) * 2);
	height: calc(64px - var(--border) * 2);
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
