.S-L-container {
	width: 100%;
	height: 100%;
}

.S-L-logo-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
	margin-top: 50px;
	width: 100%;
	height: 300px;
	overflow: hidden;
}

.S-L-logo {
	position: absolute;
	top: 100%;
	left: 50%;
	margin: -400px 0 0 -200px;
	width: 400px;
	height: 400px;
}

.S-L-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 100%);
}
