.HH-header-home-container {
	display: flex;
	align-items: center;
	box-shadow: rgb(211, 211, 211) 0px 0px 6px;
	background-color: #ffffff;
	width: 100%;
	height: var(--header-home-height);
	overflow-x: hidden;
	overflow-y: hidden;
}

.HH-container-logo-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.HH-container-logo {
	display: flex;
	justify-content: left;
	align-items: center;
	width: 30%;
	height: 100%;
}

.HH-header-home-logo {
	cursor: pointer;
	margin-left: 10px;
	height: var(--header-logo-height);
}

.HH-input-container {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 90%;
	height: 100%;
}

.HH-input-search {
	display: flex;
	border: 1px solid rgb(215, 215, 215);
	border-radius: 6px;
	background-color: rgb(244, 244, 244);
	padding-right: 20px;
	width: calc(100% - 20px);
	height: 20px;
}

.HH-input-search:focus {
	outline: none;
}

.HH-icon-search {
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translateY(-50%);
	height: 15px;
	content: url("./../../../../assets/action-icons/lens.svg");
}

.HH-buttons-container {
	display: flex;
	justify-content: right;
	align-items: center;
	width: 45%;
	height: 100%;
}

.HH-userIcons-container {
	display: flex;
}

.HH-userIcons-container > :nth-child(n) {
	margin-right: -10px;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 50%;
}

.HH-bell-icon {
	display: flex;
	cursor: pointer;
	border-radius: 8px;
	padding: 4px;
	height: 25px;
	content: url("./../../../../assets/action-icons/bell-notifications.svg");
}

.HH-settings-icon {
	cursor: pointer;
	border-radius: 8px;
	padding: 4px;
	height: 25px;
	content: url("./../../../../assets/action-icons/settings.svg");
}

.HH-icon-person{
	cursor: pointer;
	background-color: rgb(233, 233, 233);
	padding: 8px;
}

.HH-photo-icon {
	cursor: pointer;
	margin-right: 15px;
	border: 1px solid #c9c9c9;
	border-radius: 50%;
	padding: 2px;
	height: 35px;
	content: url("./../../../../assets/action-icons/add-circle-full.svg");
}

.HH-user-in-project-icon {
	cursor: pointer;
	margin-right: 10px;
	border-radius: 50%;
	padding: 1px;
	height: 20px;
	content: url("./../../../../assets/action-icons/add-circle-full-colored.svg");
}
.HH-input-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

@media screen and (max-width: 1100px) {
	.HH-header-home-container {
		flex-direction: column;
		width: 100%;
		height: 100%;
	}

	.HH-header-home-logo {
		height: 50px;
	}

	.HH-container-logo {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 70px;
	}

	.HH-input-buttons {
		display: flex;
		flex-direction: column;
		padding-right: 15px;
		padding-left: 15px;
		height: 100px;
	}

	.HH-buttons-container {
		width: 250px;
	}
}

.HH-icon-construction{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	width: 32px;
	height: 32px;
}

.HH-icon-construction:hover{
	cursor: pointer;
	border-radius: 8px;
	background-color: #909090;
}
