.SPR-background-container {
	width: 100vw;
	height: 100vh;
	background-color: #f1f1f1;
}

.SPR-box-container {
	display: flex;
	justify-content: center;
	width: 100%;
	height: calc(100vh - var(--header-height) - 50px);
	padding-top: 50px;
}

.SPR-form-container {
	width: 600px;
	height: 330px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	box-shadow: var(--border-shadow-color) 0px 0px var(--border-shadow-radius);
	border-radius: var(--border-radius);
}

.SPR-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 400px;
}

.SPR-form-title {
	text-align: center;
	font-size: var(--login-registration-header-font-size);
	font-weight: 500;
	margin: 0;
	padding: 0;
}

.SPR-form-description {
	text-align: center;
	font-weight: lighter;
	margin: 0;
	padding: 0;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.SPR-button-container {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 1rem;
}

.SPR-button {
	width: 100%;
	height: var(--action-button-height);
	border: none;
	border-radius: var(--border-radius);
	font-size: var(--action-button-font-size);
	font-weight: lighter;
	color: white;
	background-color: var(--action-button-background-color);
}

.SPR-button:hover {
	cursor: pointer;
	background-color: var(--action-button-selected-background-color);
}
