.LP-fluida-project-display-title-container {
	margin-top: 150px;
}

.LP-fluida-project-display-title-container,
.LP-fluida-project-display-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.LP-project-display-1 {
	width: 750px;
}

.LP-buttons-display-container {
	column-gap: 20px;
	margin-top: 25px;
}

.LP-button-selector {
	background-color: #ff8800;
	border: none;
	border-radius: 8px;
	height: 8px;
	width: 40px;
	margin-top: 5px;
}

.LP-button-title-display:hover {
	cursor: pointer;
}

.LP-button-title-display {
	color: black;
	border: none;
	background-color: transparent;
	font-size: 25px;
}

.LP-project-description-container {
	margin-top: 20px;
	text-align: center;
	width: 410px;
	height: 100px;
	font-size: 20px;
}

.LP-image-display {
	box-shadow: 0px 0px 25px #dddddd;
}
