.R-PNF-phone-number-field-container {
	display: flex;
	column-gap: 0.5rem;
}

.R-PNF-phone-number-country-flag-container {
	width: 50px;
	height: 50px;
}

.R-PNF-phone-number-country-flag {
	appearance: none;
	width: 100%;
	height: 100%;
}

.R-PNF-phone-number-input-field {
	width: 50%;
}
