.R-PFS-password-strength-container {
	display: flex;
	flex-direction: column;
	padding-top: 8px;
	width: 100%;
}

.R-PFS-password-strength-requirement-container {
	display: flex;
	column-gap: 8px;
	justify-content: start;
}

.R-PFS-password-strength-requirement {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

.R-PFS-password-strength-requirement > svg {
	padding: 3px 0px 4px 0px;
	width: 1rem;
	height: 1rem;
}

.R-PFS-password-strength-description {
	width: 100%;
	color: rgb(177, 177, 177);
	font-weight: bold;
	font-size: small;
}

.R-PFS-validated-strength-text {
	color: black !important;
}
