:root {
	--border-shadow-color: rgb(211, 211, 211);
	--border-shadow-radius: 8px;

	--border-radius: 8px;

	--header-height: 4rem;
	--header-logo-height: 45%;

	--action-button-background-color: #fe8e04;
	--action-button-selected-background-color: #f48700;
	--action-button-height: 50px;
	--action-button-font-size: 20px;

	--login-registration-header-font-size: 25px;
	--login-registration-input-field-title-font-size: 15px;
	--login-registration-placeholder-font-size: 14px;

	--background-color: rgb(255, 255, 255);
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
	min-width: 320px;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif, Geneva, Verdana;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Remove o olhinho de senha do input que é inserido automaticamente */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
	display: none;
}
