:root {
	--border-shadow-color: rgb(211, 211, 211);
	--border-shadow-radius: 8px;

	--border-radius: 8px;

	--header-height: 4rem;
	--header-logo-height: 45%;

	--action-button-background-color: #fe8e04;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif, Geneva, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
