.IFC-input-field-container-holder {
	width: 80%;
	display: flex;
	justify-content: left;
	flex-direction: column;
	row-gap: 4px;
	padding-top: 1rem;
}

.IFC-input-field-container {
	display: grid;
	gap: 1rem;
}

.IFC-input-field-description {
	color: #3e3e3e;
	font-size: small;
	font-weight: bold;
}
