.E-error-text-container {
	width: 80% !important;
	display: flex !important;
	justify-content: left !important;
	flex-direction: row !important;
	padding-top: 8px;
}

.E-error-text {
	color: rgb(210, 43, 43);
	font-size: small;
}
