.E-error-text-container {
	display: flex !important;
	flex-direction: row !important;
	justify-content: left !important;
	padding-top: 8px;
	width: 100% !important;
}

.E-error-text {
	color: rgb(210, 43, 43);
	font-size: 15px;
}
