:root {
	--card-container-height: 138px;

	--card-labels-container-height: 20px;
	--card-title-container-height: 70px;
	--card-footer-container-height: 36px;
}

.PC-background {
	cursor: pointer;
	border-radius: var(--border-radius);
	background-color: white;
	height: var(--card-container-height);
}

.PC-background-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.PC-drag {
	position: relative;
	top: -100%;
	opacity: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
}

.PC-card-labels-container {
	--margin: 6px;
	display: flex;
	column-gap: 6px;
	flex-direction: row-reverse;
	align-items: center;
	margin: var(--margin);
	width: calc(100% - var(--margin) * 2);
	height: var(--card-labels-container-height);
}

.PC-card-title-label {
	width: 100%;
	height: var(--card-title-container-height);
	text-align: start;
}

.extended-PC-title-label {
	height: calc(var(--card-title-container-height) + var(--card-labels-container-height)) !important;
}

.PC-card-title-label > p {
	--margin: 8px;
	margin: 0px var(--margin) 0px var(--margin);
	padding: 0;
}

.PC-footer-container {
	display: flex;
	width: 100%;
	height: var(--card-footer-container-height);
}

.PC-footer-notifications-container {
	--margin: 10px;
	display: flex;
	column-gap: 14px;
	margin: 0px var(--margin) 0px var(--margin);
	width: calc(100% - var(--margin) * 2);
	height: var(--card-footer-container-height);
}

.PC-footer-assignments-container {
	--margin: 10px;
	display: flex;
	column-gap: 6px;
	flex-direction: row-reverse;
	margin: 0px var(--margin) 0px var(--margin);
	width: calc(100% - var(--margin) * 2);
	height: var(--card-footer-container-height);
}

.PC-center-lock {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.PC-background-dragging {
	cursor: pointer;
	border: 2px dashed rgb(215, 215, 215);
}

.PC-background-placeholder {
	background-color: rgb(202, 202, 202);
}

.PC-background:hover {
	border: 2px solid rgb(194, 194, 194);
}
