.H-header-container {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	z-index: 10;
	box-shadow: rgb(211, 211, 211) 0px 0px 6px;
	background-color: white;
	width: 100%;
	height: var(--header-height);
}

.H-header-logo {
	height: var(--header-logo-height);
}
