.H-header-container {
	z-index: 10;
	display: flex;
	justify-content: center;
	position: relative;
	align-items: center;
	position: relative;
	width: 100%;
	height: var(--header-height);
	box-shadow: black 0px 0px 1px;
	background-color: white;
}

.H-header-logo {
	height: var(--header-logo-height);
}
