.CM-fluida-container {
	display: flex;
	position: absolute;
	left: calc(100% - 238px);
	flex-direction: column;
	z-index: 1000;
	box-shadow: rgb(238, 238, 238) 0px 3px 8px;
	border: 1px;
	border-style: solid;
	border-color: rgb(213, 213, 213);
	border-radius: 8px;
	background-color: rgb(240, 240, 240);
	padding: 10px;
	width: 200px;
}

.CM-option-account-container, 
.CM-option-logout-container,
.CM-option-configuration-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	border-radius: 4px;
	padding: 8px;
	height: 30px;
}

.CM-option-account-container:hover,
.CM-option-logout-container:hover,
.CM-option-configuration-container:hover {
	background-color: rgb(217, 217, 217);	
}

.CM-title-option {
	margin: 0;
	color: gray;
	font-weight: lighter;
	font-size: 18px;
}

.CM-text-option {
	cursor: pointer;
	margin: 0;
	color: gray;
	font-size: 14px;
	text-decoration: none;
}

.CM-hr-divider {
	border: 1px solid rgb(213, 213, 213);
	width: 100%;
}

.CM-centered-text {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 30px;
	color: gray;
	font-size: 14px;
}
